<div class="content">
		<!-- 包括三部分:banner  -->
		<!-- banner -->
	<div class="rank-banner">
		<h2>光荣榜(可修改)</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, numquam, voluptatum, dolor, tempore possimus ut nam quam veritatis nemo repellendus sint deserunt iure odit reiciendis porro est perspiciatis minus quae.</p>
		<a class="btn btn-primary" ui-sref="header.answer">马上测试</a>
	</div>

	<!-- dashboard -->
	<div class="dashboard Myshadow clearfix">
		<div class="Mybox">
			<div class="boxContent MyColor1">
				<span class="glyphicon glyphicon-user"> 上线成员</span>
			</div>
		</div>

		<div class="Mybox">
			<div class="boxContent MyColor2">
				<span class="glyphicon glyphicon-signal"> xxxxxxx</span>
			</div>
		</div>

		<div class="Mybox">
			<div class="boxContent MyColor3">
				<span class="glyphicon glyphicon-th"> 最高分</span>
			</div>
		</div>

		<div class="Mybox">
			<div class="boxContent MyColor4">
				<span class="glyphicon glyphicon-glass"> 待定</span>
			</div>
		</div>

	</div>

    <!-- rank -->
	<div class="rank Myshadow clearfix">
		<div class="wrap">
			<table class="table table-striped">
				<caption>TOP 10</caption>				
				<thead>
					<tr class="row">
						<td class="col-sm-1">排名</td>
						<td class="col-sm-5">部门</td>
						<td class="col-sm-3">ID</td>
						<td class="col-sm-3">分数</td>
					</tr>
				</thead>
				<tbody>
					<tr class="row" ng-repeat="rank in rankInfo">
					    <td class="col-sm-1" ng-bind="rank.level"></td>
					    <td class="col-sm-5" ng-bind="rank.apartment"></td>
					    <td class="col-sm-3" ng-bind="rank.date"></td>
					    <td class="col-sm-3" ng-bind="rank.score"></td>
					</tr>	
				</tbody>				
			</table>
		</div>
	</div>
</div>