<div class="content clearfix">
	<!-- 柱状图和饼图 -->
	<div class="clearfix">
		<div class="half-part">
			<div class="subpart Myshadow">
				<div id="MyBar"></div>
			</div>
		</div>

		<div class="half-part">
			<div class="subpart Myshadow">
				<div id="MyPie"></div>
			</div>
		</div>
	</div>
	<!-- tips -->
	<div class="part">
		<div class="subpart Myshadow">
			<h2>Tips</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab totam voluptas animi eius ducimus molestiae aspernatur ratione sed! Quidem, dolor, soluta iure eveniet porro praesentium possimus perspiciatis architecto expedita suscipit.</p>
			<button type="button" class="btn btn-danger" ui-sref="header.study">加强学习</button>
		</div>
	</div>		
</div>
