<div class="content">
		<div id="myCarousel" class="banner carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
      			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     			<li data-target="#myCarousel" data-slide-to="1"></li>
      			<li data-target="#myCarousel" data-slide-to="2"></li>
   			</ol>  
			
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/banner.png" alt="banner">
				</div>
				<div class="item">
					<img src="images/banner1.png" alt="banner1">
				</div>
				<div class="item">
					<img src="images/banner2.png" alt="banner2">
				</div>
			</div>
			<a class="carousel-control left" href="/#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" href="/#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<div class="cards-group">
			<ul class="clearfix">
				<li class="card">
					<img src="images/card1.jpg">
					<div class="card-middle">
						<p>智慧学习</p>
						<p>温故知新</p>
						<p>查漏补缺</p>
						<p>先人一步</p>
					</div>
					<div class="card-bottom">
						<a ui-sref="header.study">线上学习</a>
					</div>
				</li>
				<li class="card">
					<img src="images/card2.jpg">
					<div class="card-middle">
						<p>榜上有名</p>
						<p>独占鳌头</p>
						<p>金榜题名</p>
						<p>为人楷模</p>
					</div>
					<div class="card-bottom">
						<a  ui-sref="header.allUserRank">英雄榜</a>
					</div>
				</li>
				<li class="card">
					<img src="images/card1.jpg">
					<div class="card-middle">
						<p>擦掌磨拳</p>
						<p>敢于试验</p>
						<p>意气奋发</p>
						<p>挥斥方遒</p>
					</div>
					<div class="card-bottom">
						<a ui-sref="header.answer">我要测试</a>
					</div>	
				</li>
				<li class="card">
					<img src="images/card2.jpg">
					<div class="card-middle">
						<p>战况分析</p>
						<p>意见指导</p>
						<p>扬长辟短</p>
						<p>加强学习</p>
					</div>
					<div class="card-bottom">
						<a ui-sref="header.myScore">我的成绩</a>
					</div>
				</li>
			</ul>
		</div>
	</div>