<div class="wrapper clearfix">
		<div class="logo">
			<img src="images/logo.jpg" alt="上海教育超市">
		</div>

		<form class="clearfix" role="form" name="LoginForm" ng-submit="Login()">	
			<div class="form-group">
				<input type="text" class="form-control" placeholder="请输入用户名/员工号"
					name="Name"
					ng-class="{'error':LoginForm.Name.$invalid && LoginForm.Name.$touched}"
					ng-model="userData.userName" 
					ng-maxlength="15"
					ng-minlength="6"
					required
				 />
				 <div class="warning" ng-if="LoginForm.Name.$invalid && LoginForm.Name.$touched">请输入6到15位的用户名</div>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="请输入密码"
					name="password"
					ng-model="userData.password"
					ng-maxlength="10"
					ng-minlength="6"
					required
					ng-class="{'error':LoginForm.password.$invalid && LoginForm.password.$touched}"
				/>
				<div class="warning" ng-if="LoginForm.password.$invalid && LoginForm.password.$touched">请输入6到10位的密码</div>
			</div>
			<div ng-if="wrongPswd" class="warning">用户名或者密码输入错误！</div>
			<div class="form-group">
				<button type="submit" 
					class="btn btn-success btn-lg btn-block"
					ng-disabled="LoginForm.$invalid"
				>登录</button>
			</div>
			<div class="botton-group">
				<a ui-sref="register" class="btn btn-success  button button-left">注册</a>
				<a ui-sref="forgetPswd" class="btn btn-success  button button-right">忘记密码</a>
			</div>
		</form>
</div>