	<div class="content clearfix">
		<section id="gallery">
			<div class="container-gallery">
				<ul id="myRoundabout">
				<li><img src="images/slide3.jpg" alt=""></li>
				<li><img src="images/slide2.jpg" alt=""></li>
				<li><img src="images/slide5.jpg" alt=""></li>
				<li><img src="images/slide1.jpg" alt=""></li>
				<li><img src="images/slide4.jpg" alt=""></li>
			  </ul>
			</div>
		</section>
		<!-- tips -->
		<div class="score-part Myshadow ">
			<div class="partWrap clearfix">
				<div class="subpart">
					<div class="Mybox MyColor1">
					    综合等级
					</div>
				</div>
				<div class="subpart">
					<div class="Mybox MyColor1">
						平均成绩
					</div>
				</div>
				<div class="subpart">
					<div class="Mybox MyColor1">
						系统排名
					</div>
				</div>
			</div>
		</div>

		<div class="part1 Myshadow">
			<h2>Congraulations</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab totam voluptas animi eius ducimus molestiae aspernatur ratione sed! Quidem, dolor, soluta iure eveniet porro praesentium possimus perspiciatis architecto expedita suscipit.</p>
			<a ui-sref="header.analysis"><button type="button" class="btn btn-danger">成绩分析</button></a>
		</div>

		<div class="part1 Myshadow">
			<h2>规则说明</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab totam voluptas animi eius ducimus molestiae aspernatur ratione sed! Quidem, dolor, soluta iure eveniet porro praesentium possimus perspiciatis architecto expedita suscipit.</p>
		</div>
		
		
	</div>